// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.center {
  text-align: center;
}

.center h1{
  margin-bottom: 10px;
}

.center.jumbotron{
  color: #ffffff;
  background-color: #123123;
  margin-top: 20px;
}