<footer class="footer">
  <small>
    Made with ❤️ by <a href="http://github.com/KyooSikLee/" target="_blank">KyooSik Lee</a>
  </small>
  <nav>
    <ul>
      <li><a href="http://github.com/KyooSikLee/" target="_blank">Github</a></li>
    </ul>
  </nav>
</footer>